.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container-header {
    height: 150px;
}

.container-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 900px;
}

.tab-pane {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-footer {
    height: 20%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.d-flex {
    justify-content: center;
    align-items: center;
}

@media only screen and (max-height: 1100px) {
    .tab-content {
        max-height: 700px;
    }
}

@media only screen and (max-height: 900px) {
    .tab-content {
        max-height: 500px;
    }
}