<!-- Main -->
<div class="container">
    <!-- Scenario Space -->
    <div class="container-header row align-items-center">
        <div class="col-auto">
            <label for="options" class="col-form-label"><b>Scenario Spaces:</b></label>
        </div>
        <div class="col-auto">
            <select id="options" class="form-control" (change)="loadScenarioSpaceSummary()"
                [(ngModel)]="selectedOption">
                <option *ngFor="let option of options" [value]="option.value">
                    {{ option.display }}
                </option>
            </select>
        </div>
    </div>

    <div class="container-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="assets-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                    type="button" role="tab" aria-controls="tab1" aria-selected="true">Assets</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contributions-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                    type="button" role="tab" aria-controls="tab2" aria-selected="false">Contributions</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent" [hidden]="isLoading">
            <!-- Assets -->
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="assets-tab">
                <app-asset-class [assets]="assets"></app-asset-class>
            </div>

            <!-- Contributions -->
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="contributions-tab">
                <app-contribution-request [contributionRequests]="contributionRequests"></app-contribution-request>
            </div>
        </div>

        <!-- Spinner -->
        <app-spinner style="height: 100%;" [isLoading]="isLoading" *ngIf="isLoading"></app-spinner>
    </div>

    <!-- Button -->
    <div class="container-footer">
        <button type="button" class="btn btn-success" (click)="loadSimulations()"
            [hidden]="isLoading || assets.length == 0" [disabled]="isSimulationLoading">
            <span class="spinner-border spinner-border-sm" aria-hidden="true" [hidden]="!isSimulationLoading"></span>
            <span role="status"> Simulate</span>
        </button>
    </div>
</div>

<!-- Chart modal -->
<app-total-chart #totalChart></app-total-chart>